# Telegram bot
aiogram==3.4.1

# Async HTTP and file handling
aiohttp>=3.9.5,<4.0.0
aiofiles>=23.2.1

# Google Sheets
gspread==6.1.2
google-auth==2.28.2
google-auth-oauthlib>=0.4.1

# Utilities
pydantic<3.0.0,>=2.5.3
typing-extensions>=4.5.0
python-dotenv==1.0.1



